{% load static %}
<html>
  <head>
    <title>Obliczenia XTB</title>
    <link href="https://fonts.googleapis.com/css?family=\
    Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">
      Wyloguj się
    </button>
  </form>
{% else %}

  Obecnie nie jesteś zalogowany.

    <a href="{% url 'login' %}"
       style="display:inline-block;
              padding:5px 8px;
              background:Grey;
              color:white;
              text-decoration:none;
              border-radius:8px;">
        Zaloguj się
    </a>
  <a href="{% url 'signup' %}" 
      style="display:inline-block;
              padding:5px 8px;
              background:Orange;
              color:white;
              text-decoration:none;
              border-radius:8px;">
        Zarejestruj się
    </a>
{% endif %}
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Chemitron 2026</a></h1>
        </div>
      </header>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
