{% load static %}
<html>
  <head>
    <title>Obliczenia XTB</title>
    <link href="https://fonts.googleapis.com/css?family=\
    Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">
      Log Out
    </button>
  </form>
{% else %}
  You are not logged in. <a href="{% url 'login' %}">Log In</a>
{% endif %}
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Chemitron 2026</a></h1>
        </div>
      </header>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
