{% extends "base.html" %}
{% block content %}

{% include "przycisk_Get_SMAILS.html" %}

<p>
<form action="{% url 'suma' %}" method="POST" enctype="multipart/form-data" >
                 {% csrf_token %}
                 <table>
                 {{ form.as_table }}
                 </table>
<button type="submit" class="save btn btn-default">Uruchom</button>
</form>

<form method="POST" action="{% url 'delete_selected' %}">
    {% csrf_token %}

    <div style="
        padding: 20px;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: auto;
        margin-bottom: 10px;
    ">
        Lista cząsteczek:
        <ul style="list-style:none; padding:0; margin:0;">

        {% for post in post_list %}
            <li style="margin-bottom:10px;">

                <div style="display:flex;
                            align-items:center;
                            gap:10px;
                            width:950px;
                            height:50px;
                            background:transparent;
                            padding:0 10px;
                            border-radius:6px;">

                    <input type="checkbox" name="selected_posts" value="{{ post.id }}">

                    <a href="{% url 'post_detail' post.pk %}"
                       style="text-decoration:none;
                              color:black;
                              font-weight:bold;">
                        {{ post.title }}
                    </a>

                </div>

            </li>
        {% endfor %}

        </ul>

    </div>




    <div>

    <button type="button" onclick="toggleAll()">Zaznacz wszystkie</button>
    <button type="submit">Usuń zaznaczone</button>
    </div>
</form>
<script>
function toggleAll() {
    const checkboxes = document.querySelectorAll('input[name="selected_posts"]');
    const allChecked = Array.from(checkboxes).every(cb => cb.checked);
    checkboxes.forEach(cb => cb.checked = !allChecked);
}
</script>
{% endblock content %}
