{% block content %}

<div class="post-entry">

  {% if post.smiles %}

  <div style="margin: 20px 0; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">

    <h3>Cząsteczka: {{ post.smiles }}</h3>

    <p id="loading">Ładowanie cząsteczki...</p>
    <p id="smilesError" style="color:red;"></p>

    <div id="smilesViewer"
         style="width:600px; height:400px; position:relative;">
    </div>

  </div>

  {{ post.smiles|json_script:"smiles-data" }}

  <script src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", async () => {

      const loading = document.getElementById("loading");
      const errorBox = document.getElementById("smilesError");
      const viewerDiv = document.getElementById("smilesViewer");

      const smiles = JSON.parse(document.getElementById("smiles-data").textContent);
      const url = "{% url 'smiles3de' %}?smiles=" + encodeURIComponent(smiles);

      let pulseInterval = null;

      try {
        const res = await fetch(url);
        const data = await res.json();

        loading.style.display = "none";

        if (data.error) {
          errorBox.textContent = data.error;
          return;
        }

        const viewer = $3Dmol.createViewer(viewerDiv, {
          backgroundColor: "white"
        });

        viewer.addModel(data.mol_block, "mol");

        viewer.setStyle({}, {
          stick: { radius: 0.2, colorscheme: "CPK" },
          sphere: { scale: 0.28, colorscheme: "CPK" }
        });

        viewer.setClickable({}, true, function(atom) {

          if (pulseInterval) {
            clearInterval(pulseInterval);
            pulseInterval = null;
          }

          viewer.setStyle({}, {
            stick: { radius: 0.2, colorscheme: "CPK" },
            sphere: { scale: 0.28, colorscheme: "CPK" }
          });

          let scale = 0.6;
          let growing = false;


          pulseInterval = setInterval(() => {

            if (growing) {
              scale -= 0.08;
              if (scale <= 0.3) growing = false;
            } else {
              scale += 0.08;
              if (scale >= 0.6) growing = true;
            }

            viewer.setStyle({ serial: atom.serial }, {
              stick: {
                radius: 0.35,
                colorscheme: "CPK"
              },
              sphere: {
                scale: scale,
                colorscheme: "CPK"
              }
            });

            viewer.render();

          }, 60);
        });


        viewer.zoomTo();
        viewer.zoom(1.1);
        viewer.center();
        viewer.render();

      } catch (err) {
        loading.style.display = "none";
        errorBox.textContent = "Błąd: " + err.message;
      }
    });
  </script>

  {% endif %}

<p>
<a href="/PLIKI/{{post.id}}/vibrations/link_list.html"> Częstości </a>
{% endblock content %}
