{% load static %}
<script type="text/javascript" language="javascript" src="{% static 'jsme/jsme.nocache.js' %}"></script>

<script>
        //this function will be called after the JavaScriptApplet code has been loaded.
        function jsmeOnLoad() {
            jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
            document.JME = jsmeApplet;
        }
        function getSmiles() {
            var data = document.JME.smiles();
            document.getElementById("id_pole_smiles").value = data;
        }
</script>

<div id="jsme_container"></div>
<button type="button" onclick='getSmiles();'>Get smiles</button>